  @import '@/static/css/templatePage/custom_nav_bar.scss';
  .template-job{
  }
  /* 自定义导航栏内容 start */
    .custom-nav {
      height: 100%;
      
      &__back {
        margin: auto 5rpx;
        font-size: 40rpx;
        margin-right: 10rpx;
        margin-left: 30rpx;
        flex-basis: 5%;
      }
      
      &__search {
        flex-basis: 60%;
        width: 100%;
        height: 100%;
        
        &__box {
          width: 100%;
          height: 70%;
          padding: 10rpx 0;
          margin: 0 30rpx;
          border-radius: 60rpx 60rpx 0 60rpx;
          font-size: 24rpx;
          background-color: rgba(255,255,255,0.2);
        }
        
        &__icon {
          padding-right: 10rpx;
          margin-left: 20rpx;
          font-size: 30rpx;
        }
        
        &__text {
        }
      }
    }
    /* 自定义导航栏内容 end */
    
    /*logo start */
    .logo-image{
      width: 65rpx;
      height: 65rpx;
      position: relative;
    }
    .logo-pic{
      background-size: cover;
      background-repeat:no-repeat;
      // background-attachment:fixed;
      background-position:top;
      border-radius: 50%;
    }
    

  /* 信息展示 start */
  .tn-info {
    
    &__container {
      margin-top: 40rpx;
    }
    
    &__item {
      width: 48%;
      margin: 15rpx 0rpx;
      padding: 38rpx 28rpx;
      border-radius: 10rpx;
      
      &__left {
        
        &--icon {
          width: 80rpx;
          height: 80rpx;
          border-radius: 50%;
          font-size: 40rpx;
          margin-right: 20rpx;
          position: relative;
          z-index: 1;
          
          &::after {
            content: " ";
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
            border-radius: inherit;
            opacity: 1;
            transform: scale(1, 1);
            background-size: 100% 100%;
            background-image: url(https://tnuiimage.tnkjapp.com/cool_bg_image/icon_bg3.png);
          }
        }
        
        &__content {
          font-size: 30rpx;
          
          &--data {
            margin-top: 5rpx;
            font-weight: bold;
          }
        }
      }
      
      &__right {
        &--icon {
          font-size: 30rpx;
          opacity: 0.5;
        }
      }
    }
  }
  .job-shadow{
      box-shadow: 0rpx 0rpx 80rpx 0rpx rgba(0, 0, 0, 0.07);
      border-radius: 20rpx;
  }
  /* 信息展示 end */
  
  /* 图标容器16 start */
  .tn-cool-color-icon16{
    // background-image: -webkit-linear-gradient(135deg, #ED1C24, #FECE12);   16
    // background-image: linear-gradient(135deg, #ED1C24, #FECE12);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
    .icon16 {
      &__item {
        // width: 30%;
        background-color: #FFFFFF;
        border-radius: 10rpx;
        padding: 0rpx;
        margin: 0rpx;
        transform: scale(1);
        transition: transform 0.3s linear;
        transform-origin: center center;
        
        &--icon {
          width: 100rpx;
          height: 100rpx;
          font-size: 70rpx;
          border-radius: 50%;
          margin-bottom: 18rpx;
          position: relative;
          z-index: 1;
        }
      }
    }

.create-btn button {
  background-color: #5fa3fb;
  color: #FFF;
  margin: 20rpx 30rpx;
}