page {
    padding: 30rpx;
    padding-top: 0;
}

.quiz-list {
    padding-top: 30rpx;
    .quiz-item {
        margin-bottom: 20rpx;
        display: flex;

        .info-wrap {
            margin-left: 20rpx;

            .quiz-title {
                font-size: 30rpx;
            }
        }
    }
}