page {
    background-color: #f5f5f5;
    padding-bottom: 150rpx;
}

.header-wrap {
    background-color: #FFF;
    padding: 30rpx;

    .question-bank-name {
        color: #222;
        font-size: 38rpx;
        margin-bottom: 20rpx;
    }

    .info-wrap {
        display: flex;

        .owner {
            color: #999;
            font-size: 28rpx;
            margin-right: 40rpx;

            .owner-name {
                color: #5fa3fb;
                font-size: 28rpx;
            }
        }

        .question-count {
            color: #999;
            font-size: 28rpx;
        }
    }

    .search-wrap {
        height: 60rpx;
        padding: 0 30rpx;
        background-color: #f0f0f0;
        border-radius: 32rpx;
        font-size: 28rpx;
        margin: 20rpx 0;
        text-align: center;
    }

    .type-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .type-select {
            color: #222;
            font-size: 28rpx;

            .tn-icon-down {
                margin-left: 10rpx;
                font-size: 32rpx;
                font-weight: bold;
                color: #b5b5b5;
            }
        }

        .unfold {
            color: #5fa3fb;
            font-size: 28rpx;

            .tn-icon-eye {
                margin-right: 10rpx;
                font-size: 32rpx;
                font-weight: bold;
            }
        }
    }
}

.content-wrap {
    .question-list {
        padding: 30rpx;
        .question-item {
            background-color: #FFF;
            margin-bottom: 25rpx;
            padding: 25rpx 30rpx;
            border-radius: 16rpx;

            &.selected {
                background-color: #f1e7c1;
            }

            .question-info-wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20rpx;

                .question-type {
                    color: #5fa3fb;
                    font-size: 28rpx;
                    width: 110rpx;
                    text-align: center;
                    height: 45rpx;
                    line-height: 45rpx;
                    border-radius: 25rpx;
                    background-color: #70acf925;
                }

                .icons-wrap {
                    color: #5fa3fb;
                    font-size: 35rpx;
                    font-weight: bold;

                    .tn-icon-delete {
                        margin-left: 30rpx;
                    }
                }
            }

            .question-content-wrap {
                color: #222;
                font-size: 30rpx;
            }

            .question-detail {
                margin-top: 20rpx;
                .options-wrap {
                    .option-item {
                        display: flex;
                        align-items: center;
                        margin-bottom: 20rpx;

                        .option-index {
                            font-size: 28rpx;
                            margin-right: 10rpx;
                        }

                        .option-content {
                            color: #222;
                            font-size: 28rpx;
                        }
                    }
                }

                .question-analysis {
                    margin-top: 20rpx;
                }
            }
        }
    }
}

.bottom-wrap {
    position: fixed;
    bottom: 20rpx;
    width: 100%;
    
    .btn-wrap {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

.bottom-select-wrap {
    position: fixed;
    bottom: 0rpx;
    padding: 30rpx;
    height: 150rpx;
    width: 100%;
    background-color: #FFF;
    
    .btn-wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}